// Mixins in here
.btn() {
    color: @white;
    background-color: @dark-eastern-blue;
    text-align: center;
    width: 90%;
    padding: 15px;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 10px;
    align-items: center;
}